---
const { color, title, price, subtitle, id } = Astro.props;
const textColor = `text-${color}`;

---

<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color={color}
  id={id}
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h1 class={`${textColor} pt-[55px] text-[40px] font-medium`}>
        {title}
      </h1>
      <h3 class={`${textColor}  text-[20px] font-medium`}>
        {price}
      </h3>
      <p class={`${textColor} pt-1 text-[14px] font-400`}>
        {subtitle}
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-4">
      <slot name="footer" />
      <slot name="details" />
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <slot name="background" />
  </div>
</section>